<mat-card class="card">
  <div
    [ngStyle]="isClicked === true  ? ((keypad | async)?.isCorrect === true ? {'backgroundColor':'green'} :
     {'backgroundColor':'red'}) : {'backgroundColor':'inherit'}"
   >
    <span>{{ changeChar((keypad | async)?.password) }}</span>
  </div>
</mat-card>
<div fxLayout="row wrap" fxLayoutGap="10px grid" class="keypadDiv">
  <div fxFlex="33%">
    <button mat-raised-button color="primary" (click)="onAddChar('7')">7</button>
  </div>
  <div fxFlex="33%">
    <button mat-raised-button color="primary" (click)="onAddChar('8')">8</button>
  </div>
  <div fxFlex="33%">
    <button mat-raised-button color="primary" (click)="onAddChar('9')">9</button>
  </div>
  <div fxFlex="33%">
    <button mat-raised-button color="primary" (click)="onAddChar('4')">4</button>
  </div>
  <div fxFlex="33%">
    <button mat-raised-button color="primary" (click)="onAddChar('5')">5</button>
  </div>
  <div fxFlex="33%">
    <button mat-raised-button color="primary" (click)="onAddChar('6')">6</button>
  </div>
  <div fxFlex="33%">
    <button mat-raised-button color="primary" (click)="onAddChar('1')">1</button>
  </div>
  <div fxFlex="33%">
    <button mat-raised-button color="primary" (click)="onAddChar('2')">2</button>
  </div>
  <div fxFlex="33%">
    <button mat-raised-button color="primary" (click)="onAddChar('3')">3</button>
  </div>
  <div fxFlex="33%">
    <button mat-raised-button color="primary" (click)="onRemoveChar()"><</button>
  </div>
  <div fxFlex="33%">
    <button mat-raised-button color="primary" (click)="onAddChar('0')">0</button>
  </div>
  <div fxFlex="33%">
    <button mat-raised-button color="primary" (click)="onCheck()">E</button>
  </div>
</div>
